.page-header
  %h1 Find your interest groups
  .span3.offset9.new-group= link_to "Add New Group", new_group_path, :class => "btn btn-primary" if admin_signed_in?

%ul#groups.thumbnails
  = render partial: 'group_card', collection: @groups, as: :group

= paginate @groups
