body
  padding-top: 50px
  background-image: url('background.png')

form.navbar-search
  .submit-button
    position: absolute
    left: -9999px

#main
  margin-bottom: 50px

#under-development
  text-align: center

footer.page-footer
  bottom: 0
  position: fixed
  height: 50px
  width: 100%
  padding: 10px 0 0 0

  .container
    .description
      float: left
    .logo
      float: right
