div.group-card
  position: relative
  background: white
  -webkit-box-shadow: 2px 2px 3px rgba(34, 25, 25, 0.4)
  -moz-box-shadow:    2px 2px 3px rgba(34, 25, 25, 0.4)
  box-shadow:         2px 2px 3px rgba(34, 25, 25, 0.4)
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

  &a.delete-group
    display: none
    position: absolute
    top: 5px
    right: 5px
    text-indent: -9999px

  .description
    margin-top: 10px

  .tags
    margin-left: 0
    &li
      display: inline

div.new-group
  position: relative
  top: -10px
  right: 20px
  text-align: right
