%footer.page-footer.navbar-inner
  .container
    .description
      %p Designed and built by #{ link_to "Samnang Chhun", "http://wowkhmer.com", target: "_blank" }
      %p Source code is available on #{ link_to "GitHub", "https://github.com/samnang/krum", target: "_blank" }
    .logo
      = link_to image_tag("sharevision_logo.png", alt: "ShareVision Team"), 
                "http://www.sharevisionteam.org/", 
                target: "blank",
                title: "ShareVision Team"
