.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: root_path}
        ShareVision
      %ul.nav
        %li.active
          = link_to "Groups", groups_path
        %li
          = link_to "Events", "#"
      %form.navbar-search.pull-right{action: groups_path}
        %input.search-query.span3{name: "q", value: params[:q], placeholder: "Search", type: "text"}
        %input.submit-button{value: "Search", type: "submit"}
