.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: root_path}
        Krum
      %ul.nav
        %li{class: ("active" if controller_name == "groups")}
          = link_to "Groups", groups_path
        %li{class: ("active" if controller_name == "events")}
          = link_to "Events", events_path
      %form.navbar-search.pull-right{action: groups_path}
        %input.search-query.span3{name: "q", value: params[:q], placeholder: "Search", type: "text"}
        %input.submit-button{value: "Search", type: "submit"}
